<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="Server" value="DB01-SRV"/>
    <add key="Database" value="OpenMindDB"/>
    <add key="ProfileDB" value="OpenMindProfile"/>
    <add key="ProfileUser" value="SunAdmin"/>
    <add key="ProfileUserPwd" value="SunAdmin"/>
    <add key="UseSuffix" value="1"/>

    
    <add key="CreatorPermissionId" value="ProductionReport_Creator"/>
    <add key="ApproverPermissionId" value="ProductionReport_Approver"/>

  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
